/* src/components/expense.css */

body {
  background-color: #f4f4f4; /* Light background for better contrast */
}

.TableContainer {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}

.MuiTableCell-root {
  padding: 16px; /* Adding padding for table cells */
}

.MuiButton-contained {
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for buttons */
}

.MuiButton-contained:hover {
  transform: scale(1.05); /* Scale effect on hover */
}


/* expenseTable.css */

.table-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.table-header {
  background-color: #3f51b5; /* Material UI primary color */
  color: white;
}

.table-cell {
  font-weight: 500; /* Bold text */
  font-size: 1rem; /* Increase font size for better readability */
  padding: 16px; /* Add some padding */
}

.table-row {
  transition: background-color 0.3s ease;
}

.table-row:hover {
  background-color: #f5f5f5; /* Change row background color on hover */
}

.edit-button {
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #1976d2; /* Darker primary color on hover */
}

.delete-button {
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c62828; /* Darker red color on hover */
}
