/* Welcome.css */
.welcome-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      
  }
  
  .welcome-gif {
    max-width: 100vw;
    height: auto;
    margin-bottom: 20px;
  }


  .welcome-container {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full-screen height */
    text-align: center;
    background-color: #f0f4f8; /* Soft background */
  }
  
  .welcome-gif {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #28a745;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .text-success {
    font-weight: bold;
    color: #28a745 !important;
  }
  