/* dashboard.css */

/* AppBar Styling */
.appbar {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for the AppBar */
  height: 70px; /* Reduced height */
}

.toolbar {
  display: flex;
  justify-content: flex-start; /* Align buttons at the start */
  height: 80%;
  min-height: 0; /* Prevent default toolbar height */
}

/* Tab Button Styling */
.tab-button {
  padding: 10px 30px;
  color: black; /* Inactive button text color */
  background-color: white; /* Inactive button background */
  border: 2px solid black; /* Black border for inactive state */
  margin-right: 10px; /* Margin between buttons */
  transition: all 0.3s ease;
  text-transform: none;
  font-weight: bold;
  font-size: 24px;
}

.tab-button:hover {
  background-color: #e0e0e0; /* Light gray background on hover */
  border-color: black; /* Keep the black border on hover */
  color: black; /* Text remains black on hover */
}

.tab-button.active-tab {
  background-color: black; /* Black background for active tab */
  color: white; /* White text for active tab */
  border: 2px solid black; /* Border stays black */
}

.tab-button.active-tab:hover {
  background-color: black; /* Ensure background stays black on hover for active tab */
  color: white; /* White text stays for active tab */
}
